.project-meta {
    .project-meta__label {
        color: #171617;
        font-size: 1.25rem;
        font-weight: 900;
    }
    
    .project-meta__field {
        display: inline-block;
        font-size: 1rem;
        margin-top: 3.52941rem;
    }
    .project-meta__value {
        display: block;
        font-size: 0.88235rem;
        margin-top: 0.5em;
    }
}